<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="TcpEndPoint" closeTimeout="05:00:00" openTimeout="05:00:00"
          receiveTimeout="05:00:00" sendTimeout="05:00:00">
          <binaryMessageEncoding />
          <tcpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="TcpEndPoint1">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
   
    <client>
      <endpoint address="net.tcp://vigilia.ica.com.uy:4510/FWLServer" binding="netTcpBinding"
        bindingConfiguration="TcpEndPoint1" contract="FWLServiceReference.fwlsService"
        name="TcpEndPoint" />
    </client>
  </system.serviceModel>
</configuration>